<!DOCTYPE html>


<h1> Plot threads <small>(<a href="{% url 'GM:new_plot_thread' %}">New</a>)</small></h1>
{% if plot_threads %}
    <ul>
    {% for plot_thread in plot_threads %} 
        <li>
        <h2> <a href="{% url 'GM:plot_thread' plot_thread.id %}"> 
        {{ plot_thread.name }} </a> </h2> 
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no plot threads yet.</p>
{% endif %}

<h1> Groups <small>(<a href="{% url 'GM:new_group' %}">New</a>)</small> </h1>
{% if groups %}
    <ul>
    {% for group in groups %} 
        <li>
        <h2> 
        {{ group.name }}  
        (<a href="{% url 'GM:group_plot' group.id %}">Plot</a>,
         <a href="{% url 'GM:group' group.id %}">Edit</a>)
        </h2> 
        
        <ul>
        {% for character in group.character_set.all %}
            <li>
            <h3> 
            {{ character.heading|safe }}
            (<a href="{% url 'GM:personal_plot' character.id %}">Plot</a>,
             <a href="{% url 'GM:character' character.id %}">Edit</a>)           
            </h3>
            </li>
        {% endfor %}
        </ul>

        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no plot groups yet.</p>
{% endif %}

<h1> Characters without group </h1>
{% if characters_without_group %}
    <ul>
    {% for character in characters_without_group %}
        <li>
        <h3> 
        {{ character.heading|safe }}
        (<a href="{% url 'GM:personal_plot' character.id %}">Plot</a>,
         <a href="{% url 'GM:character' character.id %}">Edit</a>)           
        </h3>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p> There are no such characters </p>
{% endif %}

<h3> 
<a href="{% url 'GM:new_character' %}">Create new character</a>        
</h3>
