<!DOCTYPE html>

{% if plot_pice_form.instance %}
    <h1> Edit Plot Pice </h1>
{% else %}
    <h1> New Plot Pice </h1>
{% endif %}

<form method="POST" >
    {% csrf_token %}
    {{ plot_pice_form.plot_pice }}<br>

    <h3> Plot Threads </h3>
    {{ plot_pice_form.plot_threads }}
    New: {{ plot_pice_form.new_plot_thread_name}}

    <h3> Groups </h3>
    {{ plot_pice_form.groups }}
    New: {{ plot_pice_form.new_group_name }}

    <h3> Characters </h3>
    {{ plot_pice_form.characters }}
    New: {{ plot_pice_form.new_character_name }}

    <p> <input type="submit" value="Save" /> </p>
</form> 


<p> <a href="delete"> Delete </a> </p>

{% if parent_id %}
    <p> <a href="{% url parent_url parent_id %}"> </p>
{% else %}
    <p> <a href="{% url parent_url %}"> </p>
{% endif %}



Back </a>
