<h1> Plot thread: {{ plot_thread.name }} </h1>

<form method="post" >
    {% csrf_token %}
    {{ plot_thread_form.as_p }}
    <input type="submit" value="Save all" />


<h2> Groups involved <small>(not including personal plots)</small> </h2>
{% for group in plot_thread.groups %}
    <li>{{ gorup.name }}</li>
{% endfor %}

<h2> Groups involved <small>(including personal plots)</small> </h2>
{% for group in plot_thread.groups_incl_char %}
    <li>{{ group.name }}</li>
{% endfor %}

<h2> Characters involved </h2>
{% for character in plot_thread.characters %}
    <li>{{ character.name }}</li>
{% endfor %}

<h2> Plot Parts </h2>
{% for plot_part_form in plot_part_forms %}
    <fieldset>
        Characters: {{ plot_part_form.instance.plot_pice.characters_string }}<br>
        Groups: {{ plot_part_form.instance.plot_pice.groups_string }}
        {{ plot_part_form.as_p }}
        <input type="submit" value="Edit" formaction="{% url 'GM:plot_pice' plot_part_form.instance.plot_pice.id %}" />
    </fieldset>
{% endfor %}

    
    <input type="submit" value="Save all" />
</form>    


<a href="{% url 'GM:index' %}">
Back to plot therad list
</a>
