{% block top %}
{{ class_form.as_p }}
{% endblock %}


<h2> Plot Pices </h2>

<input type="submit" value="Save all" />
<a href="plot_pice/new"> Add new </a>

{{ plot_pice_forms.management_form }}
<table>
    {% for plot_pice_form in plot_pice_forms %}
    <tr>
        <td>
            <table>
                <tr>
                    <td>Characters: </td>
                    <td>
                        {{ plot_pice_form.instance.plot_pice.characters_string }}
                    </td>
                <tr>
                <tr>
                    <td>Groups: </td>
                    <td>
                        {{ plot_pice_form.instance.plot_pice.groups_string }}
                    </td>
                <tr>
                <tr>
                    <td>Plot Threads: </td>
                    <td>
                        {% for plot_thread_link in plot_pice_form.instance.plot_pice.plot_threads.all %}
                        {% if plot_thread_link != plot_thread %}  
                        <a href="{% url 'GM:plot_thread' plot_thread_link.id %}">
                        {% endif %}
                        {% if forloop.counter = plot_pice_form.instance.plot_pice.plot_threads.count %}
                            {{ plot_thread_link }}</a>
                        {% else %}
                            {{ plot_thread_link }}</a>,
                        {% endif %}
                        {% endfor %}
                    </td>
                <tr>
            </table>
            <p><a href="plot_pice/{{ plot_pice_form.instance.plot_pice.id }}"> Edit </a></p>

        </td>
        <td>
            {{ plot_pice_form.plot_pice }}
        </td>
        <td>
            Rank: <br>
            {{ plot_pice_form.rank }}
        </td>
    </tr>
    {% endfor %}
</table>

<input type="submit" value="Save all" />
<a href="plot_pice/new"> Add new </a>

{% block end %}
{% endblock %}

