<!DOCTYPE html>

{% if plot_pice_form.instance %}
    <h1> Edit Plot Pice </h1>
{% else %}
    <h1> New Plot Pice </h1>
{% endif %}

<form method="POST" >
    {% csrf_token %}
    {{ plot_pice_form.plot_pice }}<br>

    <h3> Plot Threads </h3>
    New: {{ plot_pice_form.new_plot_thread_name}}<br>
    {{ plot_pice_form.plot_threads }}<br>

    <h3> Groups </h3>
    New: {{ plot_pice_form.new_group_name }}<br>
    {{ plot_pice_form.groups }}<br>

    <h3> Characters </h3>
    {{ plot_pice_form.characters }}<br>
    New: {{ plot_pice_form.new_character_name }}<br>

    <input type="submit" value="Save" />
    <input type="submit" href="delete" value="Delete" />
</form>

{% if parent_id %}
    <a href="{% url parent_url parent_id %}">
{% else %}
    <a href="{% url parent_url %}">
{% endif %}



Back </a>
