<!DOCTYPE html>

{% extends "plots/GM/basic.html" %}

{% block body %}

    {% if class_instance %}
        <h1> {{ class_instance.name }} </h1>
    {% else %}
        <h1> New {{ class_name }} </h1>
    {% endif %}

    <form method="POST" >
        {% csrf_token %}
        {{ class_form.as_p }}
        <p>
            <input type="submit" class="btn btn-default" value="Save" />
            {% if class_instance %}
                <a href="delete" class="btn btn-default"> Delete </a>
            {% endif %}
            {% if larp %}
                <a href="{% url 'GM:larp_plots' larp.id %}" 
                    class="btn btn-default"> Larp overview </a>
            {% else %}
                <a href="{% url 'GM:index' %}" 
                    class="btn btn-default"> GM index </a>
            {% endif %}
        </p>
    </form>

{% endblock %}
