{% extends "plots/GM/basic.html" %}

<script>
{% block script %}
    //$('textarea').autoResize(); 

    $("#show_select_members").click(function(){
        $("#show_select_members").hide();
        $("#hide_select_members").show();
        $("#select_members").slideDown();
    });

    $("#hide_select_members").click(function(){
        $("#show_select_members").show();
        $("#hide_select_members").hide();
        $("#select_members").slideUp();
    });

    $(".save").click(function(){
        alert('hej');
        $.post("{% url 'GM:save_group' larp.id %}",
            {
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                data: 'data'
            },
            function(){alert('hejdå');}
        );
    });

{% endblock %}
</script>


{% block body %}

<div class="container-fluid">

    <h1>{% block title %}{{ group.name }}{% endblock %}</h1>
    <div class="row">

        <div class="col-sm-6">

            <form>
                {% csrf_token %}

                <p><label>Name:
                    <input type="text" id="name" name="name" required="required" 
                        value="{{ group.name }}">
                </label></p>


                <ul class=checkboxes_inlie >
                    <li>
                    <label for="open">
                        <abbr title="Group is open for self registration by users."
                            >Open:</abbr>
                    </label> 
                    <input type="checkbox" id="open" name="open" 
                        {% if group.is_open %} checked="checked" {% endif %}>

                    <li>
                    <label for="show_group">
                        <abbr title="Group description is made public."
                            >Show group:</abbr>
                    </label> 
                    <input type="checkbox" id="show_group" name="show_group"
                        {% if group.show_group %} checked="checked" {% endif %}>

                    <li>
                    <label for="show_members">
                        <abbr title="Members presentation is made public."
                            >Show members:</abbr>
                    </label> 
                    <input type="checkbox" id="show_members" name="show_members"
                        {% if group.show_members %} checked="checked" {% endif %}>
                </ul>


                <p>
                    <label for="group_description">Group description:</label><br>
                    <textarea id="group_description" name="group_description" rows="10"
                        >{{ gorup.group_description }}</textarea>
                </p>

                <p><button type="button" class="save">Save all</button></p>  

                <button type="button" id="show_select_members"
                    >Select members</button>
                <button type="button" id="hide_select_members" hidden="hidden"
                    >Hide select members</button>
                <div class="row" id="select_members" hidden="hidden"> 
                    <div class="col-xs-6">
                        <ul class=checkboxes >
                        {% for character in characters_fist_half %}
                            <li>
                            <label>{{ character.name }} 
                                <input type="checkbox" name="character-{{ character.id }}" 
                                    {% if character in members %} checked="checked" {% endif %}>
                            </label>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class=checkboxes >
                        {% for character in characters_second_half %}
                            <li>
                            <label>{{ character.name }} 
                                <input type="checkbox" name="character-{{ character.id }}" 
                                    {% if character in members %} checked="checked" {% endif %}>
                            </label>
                        {% endfor %}
                        </ul>
                    </div>
                </div>              
            </form>

            <p><a href="{% url 'GM:larp_plots larp.id' %}">Back to GM index</a></p>
        </div>

        <div class="col-sm-6">
        </div>
    </div>
</div>

{% endblock %}
