{% extends "plots/GM/basic.html" %}

{% block head %}
{% endblock %}

{% block body %}

<div class="container">
<form>
    
    <p><label>Name: <input type="text" id="name" name="name"></label></p>

    <p>
        <ul class=checkboxes_inlie >
            <li>
            <label for="open">
                <abbr title="Group is open for self registration by users."
                    >Open:</abbr>
            </label> 
            <input type="checkbox" id="open" name="open">

            <li>
            <label for="show_group">
                <abbr title="Members presentation is made public."
                    >Show group:</abbr>
            </label> 
            <input type="checkbox" id="show_group" name="show_group">

            <li>
            <label for="show_members">
                <abbr title="Group description is made public."
                    >Show members:</abbr>
            </label> 
            <input type="checkbox" id="show_members" name="show_members">
        </ul>
    </p>

    <p>
        <label for="group_description">Group description:</label></br>
        <textarea id="group_description" name="group_description"
            >Lorem ipsum </textarea>
    </p>

</form>
</div>

{% endblock %}
