{% extends "plots/GM/basic.html" %}

{% block title %}GM:Index{% endblock %}

{% block body %}

<h1> Larps </h1>
<ul>
    {% for larp in larps %}
    <li>
        <a href="{% url 'GM:edit_topp' 'larp' larp.id %}"> {{ larp.name }} </a> 
        -
        <a href="{% url 'GM:larp_plots' larp.id %}"> Plots </a> 
    </li>
    {% endfor %}
</ul>
<a href="{% url 'GM:new_topp' 'larp' %}" class="btn btn-default"> New larp </a>

<h1> Groups </h1>
<ul>
    {% for group in groups %}
    <li>
        <a href="{% url 'GM:edit_topp' 'group' group.id %}"> {{ group.name }} </a> 
    </li>
    {% endfor %}
</ul>
<a href="{% url 'GM:new_topp' 'group' %}" class="btn btn-default"> New group </a>

<h1> Characters </h1>
<ul>
    {% for character in characters %}
    <li>
        <a href="{% url 'GM:edit_topp' 'character' character.id %}"> {{ character.name }} </a> 
    </li>
    {% endfor %}
</ul>
<a href="{% url 'GM:new_topp' 'character' %}" class="btn btn-default"> New character </a>



{% endblock %}

