{% extends "plots/GM/basic.html" %}

{% block title %}GM:{{ larp.name }}{% endblock %}

{% block body %}

<h1> Plot threads <small>(<a href="{% url 'GM:new_plots' larp.id 'plot_thread' %}">New</a>)</small></h1>

<ul>
{% for larp_plot_thread in larp.larpplotthread_set.all %} 
    <li>
        <a href="{% url 'GM:plots' 'larp_plot_thread' larp_plot_thread.id %}"> 
        {{ larp_plot_thread.name }} </a> 
    </li>
{% endfor %}
</ul>


<h3> Plot Pices without Character or Group </h3>
{% if plot_pices_without_character_or_group %}
    <ul>
    {% for plot_pice in plot_pices_without_character_or_group %} 
        <li>
        <a href="{% url 'GM:plot_pice' plot_pice.id %}"> 
        {{ plot_pice }} </a> 
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no such plot pices.</p>
{% endif %}

<h3> Plot Pices without Plot Thread </h3>
{% if plot_pices_without_plot_thread %}
    <ul>
    {% for plot_pice in plot_pices_without_plot_thread %} 
        <li>
        <a href="{% url 'GM:plot_pice' plot_pice.id %}"> 
        {{ plot_pice }} </a> 
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no such plot pices.</p>
{% endif %}



<h1> 
    Groups 
    <small>
        (<a href="{% url 'GM:new_plots' larp.id 'group' %}">New</a>)
    </small> 
</h1>
<ul>
    {% for group_plot in larp.groupplot_set.all %} 
    <li>
        <a href="{% url 'GM:plot_resiver' larp.id 'group' group_plot.group.id %}">
        {{ group_plot.group.name }} </a>
        -
        <a href="{% url 'GM:plots' 'group_plot' group_plot.id %}">Plot</a>
    </li>
    {% endfor %}
</ul> 


<h1> Characters 
    <small>
        (<a href="{% url 'GM:new_plots' larp.id 'character' %}">New</a>)
    </small> 
</h1>
<ul>
    {% for personal_plot in larp.personalplot_set.all %}
    <li>
        <a href="{% url 'GM:plot_resiver' larp.id 'character' personal_plot.character.id %}"> 
        {{ personal_plot.character.name }}</a>
        -
        <a href="{% url 'GM:plots' 'personal_plot' personal_plot.id %}">Plot</a>
    </li>
    {% endfor %}
</ul> 

{% endblock %}
