{% extends "plots/GM/basic.html" %}

<script>

    $(".sortable").sortable();

{% block script %}
    $(".sortable").sortable({
		handle: '.handle'
	});    
{% endblock %}
</script>

<style>
{% block style %}
    .sortable {
        list-style-type: none;
        padding: 0;
    }
    .sortable li {
	    border: 1px solid gray;
        margin: 5px;
    }
	.handle {
		cursor: move;
	}
	li.sortable-placeholder {
		border: 1px dashed #CCC;
		background: none;
        height: 240px;
	}

    .no-pading {
        margin: 0;
        padding: 0;
    }
    .col-xs-height{
        margin: 0;
        padding: 5px;
        border: 1px dashed #CCC;
    }
{% endblock %}
</style>

{% block body %}

<div class="container-fluid">

    <h1>
        {% block title %}
        {{ class_instance.name }}
        {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-6">


            <form method="POST">
            {% csrf_token %}

            {% block top %}
            {{ class_form.as_p }}
            {% endblock %}


            <h2> Plot Pices </h2>

            <input type="submit" value="Save all" />
            <a href="plot_pice/new"> Add new </a>

            {{ plot_pice_forms.management_form }}

            <ul class="sortable">
                {% for plot_pice_form in plot_pice_forms %}
                <li>
                    <div class="container-fluid no-pading"><div class="row-same-height no-pading">
                        <div class="col-xs-4 col-xs-height handle">
                            {{ plot_pice_form.id }}
                            {{ plot_pice_form.plot_thread }}
                            <p>
                                <b>Finished:</b> {{ plot_pice_form.plot_is_finished }}
                            </p>
                            <p>
                                <b>Characters:</b>
                                {% for character in plot_pice_form.instance.plot_pice.characters.all %}
                                {% if character != class_instance %}  
                                <a href="{% url 'GM:personal_plot' character.id %}">
                                {% endif %}
                                {% if forloop.counter = plot_pice_form.instance.plot_pice.characters.count %}
                                    {{ character.name }}</a>
                                {% else %}
                                    {{ character.name }}</a>,
                                {% endif %}
                                {% endfor %}
                            </p>
                            <p>
                                <b>Groups:</b>
                                {% for group in plot_pice_form.instance.plot_pice.groups.all %}
                                {% if group != class_instance %}  
                                <a href="{% url 'GM:group_plot' group.id %}">
                                {% endif %}
                                {% if forloop.counter = plot_pice_form.instance.plot_pice.groups.count %}
                                    {{ group.name }}</a>
                                {% else %}
                                    {{ group.name }}</a>,
                                {% endif %}
                                {% endfor %}
                            </p>
                            <p>
                                <b>Plot Threads:</b>
                                {% for plot_thread in plot_pice_form.instance.plot_pice.plot_threads.all %}
                                {% if plot_thread != class_instance %}  
                                <a href="{% url 'GM:plot_thread' plot_thread.id %}">
                                {% endif %}
                                {% if forloop.counter = plot_pice_form.instance.plot_pice.plot_threads.count %}
                                    {{ plot_thread.name }}</a>
                                {% else %}
                                    {{ plot_thread.name }}</a>,
                                {% endif %}
                                {% endfor %}
                            </p>
                            <p>
                                <a href="plot_pice/{{ plot_pice_form.instance.plot_pice.id }}"> Edit </a>
                                <a href="plot_pice/{{ plot_pice_form.instance.plot_pice.id }}/delete"> Delete </a>            
                            </p>
                        </div>
                        <div class="col-xs-8 col-xs-height">
                            {{ plot_pice_form.plot_pice_text }}
                        </div>
                    </div></div>
                </li>
                {% endfor %}
            </ul>


            <p>
            <input type="submit" value="Save all" />
            <a href="plot_pice/new"> Add new </a>
            </p>

            </form>


            {% block end %}     
                <p> <a href="delete">
                    Delete
                </a> </p>
            {% endblock %} 
                
            <p> <a href="{% url 'GM:index' %}">
            Back to GM index
            </a> </p>

        </div>

        <div class="col-md-6">
            {% block display %}
            {% endblock %}
        </div>

    </div>
</div>


 
{% endblock %}

