{% extends "plots/GM/basic.html" %}

{% block title %}GM:{{ larp.name }}{% endblock %}

<script>
{% block script %}
    $(".sortable").sortable({
		handle: '.handle'
	});    

var checkboxes = $('input:checkbox')

$('input:checkbox').change(function(){
	
	for (var i=1; i<checkboxes.length; i++){
		if (!checkboxes[i].checked){
			checkboxes[0].checked = false;
			checkboxes[0].disabled = true;
			return;
		};
	};
	checkboxes[0].disabled = false;
});



function display_plot(){
	var plot_text = '';
	var textareas = $('textarea');
	for (var i=1; i<textareas.length; i++){
		plot_text += '<p>' + textareas[i].innerHTML + '</p>';
    };
	$('#display')[0].innerHTML = plot_text;
};

display_plot();

$('textarea').change(function(){
	alert('hej');
	display_plot(); 
});

	
{% endblock %}
</script>

<style>
{% block style %}
    .sortable {
        list-style-type: none;
        padding: 0;
    }
    .sortable li {
	    box-shadow: 0px 0px 5px 0px gray inset;
        margin: 5px;
    }
	.handle {
		cursor: move;
	}
	li.sortable-placeholder {
		border: 1px dashed #CCC;
		background: none;
        height: 225px;
		box-shadow: none
	}
	.border {
		border: 1px dashed #CCC;
	}
    .no-pading {
        margin: 0;
        padding: 0;
    }
    .col-xs-height{
        margin: 0;
        padding: 7px;
    }

	.display {
        padding: 10px;
	    box-shadow: 0px 0px 5px 0px gray inset;
	}

    /* columns of same height styles */
    /* from http://www.minimit.com/demos/bootstrap-3-responsive-columns-of-same-height */
    .col-top {
		display: -webkit-flex; /* Safari */
		-webkit-flex-flow: row wrap; /* Safari 6.1+ */
		-webkit-align-content: space-around; /* Safari 7.0+ */
		display: flex;
		flex-flow: row wrap;
        align-content: space-between; 
        vertical-align: top;
    }
	.col-bottom {
	  vertical-align: bottom;
	}
    .row-same-height {
      display: table;
      width: 100%;
      /* fix overflow */
      table-layout: fixed;
    }
    .col-xs-height {
      display: table-cell;
      float: none !important;
    }

{% endblock %}
</style>

{% block body %}

<div class="container-fluid">

    <h1>
        {{ class_instance.name }}
    </h1>

    <div class="row">
        <div class="col-md-6">

          <form method="POST">
            {% csrf_token %}

            {% block top %}
            {{ class_form.as_p }}
            {% endblock %}

			<p>
		        <input type="submit" value="Save all" class="btn btn-default"/>
		        <a href="plot_pice/new" class="btn btn-default"> Add new plot pice </a>
				<a href="{% url 'GM:index' %}" class="btn btn-default">Go to GM index</a>
				{% block top-menu %} {% endblock %} 
			</p>

            <h2> Plot Pices </h2>



            {{ plot_pice_forms.management_form }}

            <ul class="sortable">
                {% for plot_pice_form in plot_pice_forms %}
                <li>
                    <div class="row no-pading">
                    <div class="row-same-height no-pading">
                        <div class="col-xs-4 col-xs-height col-top handle">
                            {{ plot_pice_form.id }}
                            {{ plot_pice_form.plot_thread }}
                            <p>
                                <b>Finished:</b> {{ plot_pice_form.plot_is_finished }}
                            </p>
                            <p>
                                <b>Characters:</b>
                                {% for character in plot_pice_form.instance.plot_pice.characters.all %}
                                {% if character != class_instance %}  
                                <a href="{% url 'GM:personal_plot' character.id %}">
                                {% endif %}
                                {% if forloop.counter = plot_pice_form.instance.plot_pice.characters.count %}
                                    {{ character.name }}</a>
                                {% else %}
                                    {{ character.name }}</a>,
                                {% endif %}
                                {% endfor %}
                            </p>
                            <p>
                                <b>Groups:</b>
                                {% for group in plot_pice_form.instance.plot_pice.groups.all %}
                                {% if group != class_instance %}  
                                <a href="{% url 'GM:group_plot' group.id %}">
                                {% endif %}
                                {% if forloop.counter = plot_pice_form.instance.plot_pice.groups.count %}
                                    {{ group.name }}</a>
                                {% else %}
                                    {{ group.name }}</a>,
                                {% endif %}
                                {% endfor %}
                            </p>
                            <p>
                                <b>Plot Threads:</b>
                                {% for plot_thread in plot_pice_form.instance.plot_pice.plot_threads.all %}
                                {% if plot_thread != class_instance %}  
                                <a href="{% url 'GM:plot_thread' plot_thread.id %}">
                                {% endif %}
                                {% if forloop.counter = plot_pice_form.instance.plot_pice.plot_threads.count %}
                                    {{ plot_thread.name }}</a>
                                {% else %}
                                    {{ plot_thread.name }}</a>,
                                {% endif %}
                                {% endfor %}
                            </p>
						  	<p>
                                <a href="plot_pice/{{ plot_pice_form.instance.plot_pice.id }}" 
                                    class="btn btn-default btn-sm"> Edit </a>
                                <button type="button"
                                    class="btn btn-default btn-sm"> Remove </button>
                                <a href="plot_pice/{{ plot_pice_form.instance.plot_pice.id }}/delete"
                                    class="btn btn-default btn-sm"> Delete </a>            
                            </p>
                        </div>
                        <div class="col-xs-8 col-xs-height">
                            {{ plot_pice_form.plot_pice_text }}
                        </div>
                    </div></div>
                </li>
                {% endfor %}
            </ul>

			<p>
		        <input type="submit" value="Save all" class="btn btn-default"/>
		        <a href="plot_pice/new" class="btn btn-default"> Add new plot pice </a>
				<a href="{% url 'GM:index' %}" class="btn btn-default">Back to GM index</a> 
				{% block end-menu %} {% endblock %} 
			</p>
          </form>
                
        </div>

        <div class="col-md-6">
			<div class="display">
				<h2> Full plot for {{ class_instance.name }} </h2>
				<div id="display"></div>
			</div>
        </div>

    </div>
</div>
<p> </p>


 
{% endblock %}

