{% extends "plots/GM/basic.html" %}

{% block body %}


<h1> {{ heading }} Plot Pice </h1>


<form method="POST" >
    {% csrf_token %}
    {{ plot_pice_form.larp }}
    <p>{{ plot_pice_form.plot_pice }}</p>
    <p><b> Plot Pice is finnished: </b> {{ plot_pice_form.plot_is_finished }}</p>

    <h3> Plot Threads </h3>
    {{ plot_pice_form.plot_threads }}
    <b>New:</b> {{ plot_pice_form.new_plot_thread_name}}

    <h3> Groups </h3>
    {{ plot_pice_form.groups }}
    <b>New:</b> {{ plot_pice_form.new_group_name }}

    <h3> Characters </h3>
    {{ plot_pice_form.characters }}
    <b>New:</b> {{ plot_pice_form.new_character_name }}

    <p> <input type="submit" value="Save" /> </p>
</form> 


<p> <a href="delete"> Delete </a> </p>

{% if parent_id %}
    <p> <a href="{% url parent_url larp.id parent_id %}"> </p>
{% else %}
    <p> <a href="{% url 'GM:larp' larp.id %}"> </p>
{% endif %}
Cancel </a>

{% endblock %}
