{% extends "plots/GM/plots.html" %}


{% block title %}
    Plot thread: {{ class_instance.name }}
{% endblock %}

{% block top %}
    <p> <b>Name:</b> {{ class_form.name }} </p>
    <p> <b>Summery:</b> <br> {{ class_form.summery }} </p>
    <p> <b>Plot thread is finished:</b> {{ class_form.plot_is_finished }}</p>
    <p> <a href="delete" class="btn btn-default"> Delete Plot Thread </a> </p>
{% endblock %}


{% block display %}
    <h2> Groups involved <small>(not including personal plots)</small> </h2>
    <ul>    
    {% for group in class_instance.groups %}
        <li>
        <a href="{% url 'GM:group_plot' group.id %}"> {{ group.name }} </a>
        </li>
    {% endfor %}
    </ul>

    <h2> Groups involved <small>(including personal plots)</small> </h2>
    <ul>
    {% for group in class_instance.groups_incl_char %}
        <li>
        <a href="{% url 'GM:group_plot' group.id %}"> {{ group.name }} </a>
        </li>
    {% endfor %}
    </ul>

    <h2> Characters involved <small>(not including group plots)</small> </h2>
    <ul>
    {% for character in class_instance.characters %}
        <li>
        <a href="{% url 'GM:personal_plot' character.id %}"> {{ character.name }} </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
