<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebSiteName</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'plots/bootstrap.css' %}">
    <script src="{% static 'plots/jquery.js' %}"></script>
    <script src="{% static 'plots/bootstrap.js' %}"></script>
    <script src="{% static 'plots/jquery.sortable.js' %}"></script>



</head>
<body>
<div class="container-fluid">
    WebSiteName 
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <ul class="nav navbar-nav ">
        <li><a href="/">Home</a></li>
        {% for nav_item in nav_list %}
        <li><a href="{% url 'pages:page' nav_item.id %}">{{ nav_item.name }}</a></li> 
        {% endfor %}
      </ul>
  </div>
</nav>



</body>
</html>
